@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'JUOKSUT Garamond';
        src: url('../fonts/garamond-condensed-regular.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'JUOKSUT Garamond';
        src: url('../fonts/juoksut_garamond-webfont.woff2') format('woff2');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src:
            url('../fonts/InterVariable.woff2')
                format('woff2 supports variations'),
            url('../fonts/InterVariable.woff2') format('woff2-variations');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter';
        src:
            url('../fonts/InterVariable-Italic.woff2')
                format('woff2 supports variations'),
            url('../fonts/InterVariable-Italic.woff2')
                format('woff2-variations');
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
    }

    * {
        cursor: crosshair;
    }

    :root {
        --nav-height: 6em;
    }

    body {
        @apply text-pink;

        overflow-y: scroll;
        overflow-x: hidden;

        font-size: clamp(17px, 3vw, 35px);
        line-height: 1.6em;
    }

    h1 {
        @apply font-sans;
        font-size: 1.2em;
    }

    h2 {
        @apply font-sans;
        font-size: 1.1em;
    }

    h3 {
        @apply font-sans;
        font-size: 1em;
    }

    p {
        /* @apply font-serif font-normal;
        letter-spacing: -0.03em; 
        font-weight: 400; */
        line-height: normal;
        margin-top: 0.5em;
    }

    a {
        transition: 0.15s;
    }

    p a {
        text-decoration: underline;
    }

    @media (hover: hover) {
        a:hover {
            transform: skewX(-10deg);
            opacity: 70%;
        }
    }
}

@layer components {
    .sectionContent {
        margin: auto;
        width: clamp(70%, 500px, 100%);
        padding: 0 1em;
    }

    .divider-t {
        @apply border-pink border-t-[0.08em];
    }

    .divider-b {
        @apply border-pink border-b-[0.08em];
    }
}
